/*common*/
:root {
  --main-blue: #006AC5; }

/* breakpoints 320 480 768 1027 1440*/
*,
*::after,
*::before {
  box-sizing: border-box; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSansbold.ttf);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Light.ttf);
  font-weight: light;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Regular.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Medium.ttf);
  font-weight: bold;
  font-style: normal; }

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0; }

/*header*/
.header {
  width: 100%;
  display: flex;
  flex-direction: column; }

.header__top-block {
  padding: 12px 39px 9px 36px;
  background: #F8F8F8;
  border-radius: 3px;
  display: flex;
  justify-content: space-between; }

.header__right-block {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between; }

.header__right-block-item {
  display: flex;
  align-items: center; }

.header__right-block-item span {
  margin-left: 5px;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #004179;
  cursor: pointer; }

.header__top-menu {
  width: 711px;
  display: flex;
  justify-content: space-between; }

.top-menu__item {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #004178;
  cursor: pointer; }

.header__middle-block {
  display: flex;
  justify-content: space-between;
  padding: 26px 42px 26px 37px;
  align-items: center; }

.header__logo {
  width: 251px; }

.header__advantages {
  display: flex;
  flex-direction: row;
  width: 321px;
  justify-content: space-between; }

.header__adv-container {
  display: flex;
  flex-direction: column; }

.adv-container__top {
  display: flex;
  align-items: center; }

.adv-container__top span {
  font-family: Oswald;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #3B455C;
  margin-left: 9px; }

.adv__container__descr {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #9EA4AA;
  margin-left: 25px; }

.header__adv-container:first-of-type .adv__container__descr {
  margin-left: 30px; }

.header__search-input {
  width: 450px;
  height: 41px;
  padding-left: 18px;
  padding-right: 48px;
  border: 1px solid #DDDDDD;
  border-radius: 1px; }

.header__search-form {
  position: relative; }

.header__search-button {
  width: 48px;
  height: 41px;
  position: absolute;
  top: 0;
  right: 0;
  background: #006AC5;
  border-radius: 0px 1px 1px 0px;
  outline: none !important; }

.header__phone-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.header__phone {
  margin-bottom: 5px; }

.header__phone span {
  font-family: Oswald;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px; }

.phone-black {
  color: #3B455C; }

.phone-orange {
  color: #FF8620; }

.header__backcall-button {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #555F68;
  border-bottom: 1px dashed #006AC5; }

.header__bottom-block {
  padding: 0 40px 0 37px; }

.header__bottom-block ul {
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(1px 5px 5px rgba(93, 114, 133, 0.3));
  list-style: none;
  padding: 0; }

.header__bottom-block ul li {
  height: 50px;
  background: linear-gradient(180deg, #006AC5 0%, #0059A6 100%);
  border-radius: 1px;
  width: calc(100% / 6); }

.header__bottom-block ul li:hover {
  background: linear-gradient(180deg, #FF8620 0%, #E6781C 100%); }

.header__bottom-block ul li a {
  font-family: Open Sans;
  font-weight: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 47px;
  color: #FFFFFF;
  margin: auto; }

.header__catalog-open-button {
  width: 252px;
  background: linear-gradient(180deg, #004E90 0%, #003B6D 100%) !important;
  display: flex;
  align-items: center; }

.header__menu-icon {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  justify-content: space-between;
  margin-left: 27px;
  margin-right: 14px; }

.header__menu-icon > span {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: white; }

/*.header__bottom-block ul li:nth-of-type(2) a{
    margin-left: 17%;
}

.header__bottom-block ul li:nth-of-type(3) a{
    margin-left: 18px;
}

.header__bottom-block ul li:nth-of-type(4) a{
    margin-left: 39px;
}

.header__bottom-block ul li:nth-of-type(5) a{
    margin-left: 15px;
}*/
/* catalog-menu */
.main {
  padding-left: 37px;
  padding-right: 38px; }

.categories-wrapper {
  display: grid;
  column-gap: 46px;
  grid-template-columns: 249px 1fr;
  margin-top: 28px; }

.popular-categories {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; }

.slider {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  min-height: 428px;
  background-color: greenyellow; }

/* catalog-menu */
.catalog-menu {
  grid-column-start: 1;
  grid-column-end: 2;
  display: block;
  box-shadow: 2px 2px 2px rgba(93, 114, 133, 0.07); }

.catalog-menu__list {
  position: relative;
  display: block;
  min-width: 249px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #F8F8F8; }

.catalog-menu__list--inner {
  display: none; }

.catalog-menu__list--even {
  background-color: var(--main-blue); }

.catalog-menu__item {
  display: block;
  margin: 0;
  padding: 0; }

.catalog-menu__link {
  display: block;
  padding-top: 7px;
  margin-left: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DEE7EF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #3B455C;
  text-decoration: none; }

.catalog-menu__link::after {
  content: "";
  display: block;
  width: 16px;
  min-height: 16px;
  background-image: url("images/arrow-blue-right.svg");
  background-repeat: no-repeat; }

.catalog-menu__link:hover,
.catalog-menu__link:focus {
  color: #DEE7EF;
  background-color: var(--main-blue); }

.catalog-menu__item:hover > .catalog-menu__list--inner {
  position: absolute;
  display: block;
  width: 246px;
  top: 0;
  right: -249px; }

.catalog-menu__list--inner:hover {
  display: block; }

/* popular categories */
.popular-categories {
  margin-top: 60px; }

.populur-categories__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px; }

.popular-categories__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
