
.catalog {
  padding-left: 1vw;
  padding-right: 1vw;
;
  &--mini {
    padding: 0;
  }

  &--mini .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
  }

  &--mini .catalog__link {
    display: flex;
    align-items: center;
  }

  &--mini .catalog__image {
    height: auto;
  }
}

.catalog__title {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;

}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1vw;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style: none;
}

.catalog__item {
  display: flex;
}

.catalog__link {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease;


  &:hover {
    transform: scale(1.03);
  }
}

.catalog__image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: top;
}

.catalog__text-wrapper {
  height: 10vh;
  padding-left: 5px;

}

.catalog__text {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.catalog__last-name {
  display: block;
  font-weight: bold;
}




@media screen and (min-width: $tablet-width) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .catalog__text {
    font-size: 18px;
    line-height: 20px;
  }

  .catalog__last-name {
    display: inline;

  }

}

@media screen and (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr
  }

  .catalog__text {
    font-size: 20px;
    line-height: 22px;
  }

}
