
$tablet-width: 768px;
$desktop-width: 1024px;

$color-1: #DADCDB;
$color-2: #D5D0CA;
$color-3: #C6C7C2;
$color-4: #BDC0B9;
$color-5: #B6B9B2;
$color-6: #BDB5AA;
$color-7: #B6ADA4;
$color-8: #989BA4;
$color-9: #797C81;
$color-10: #877D7C;
$color-11: #656661;
$color-12: #494949;
